.searchable-table-container {
  font-size: 18px;
}

.searchable-table-form-wrapper {
  margin-bottom: 15px;
}

.searchable-table-form {
  padding-right: 148px;
  position: relative;
}

.searchable-table-form-btns {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3px;
}

.search-btn {
  margin-right: 10px;
}